.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* nav link style */
.nav-link {
  position: relative;
  padding-bottom: 4px;
  font-weight: 500;
  color: #475569; /* slate-600 */
  transition: color 0.2s ease;
}

.nav-link:hover {
  color: #1e293b; /* slate-800 */
}

/* underline */
.nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 0;
  background-color: #2563eb; /* blue-600 */
  transition: width 0.25s ease;
}

/* hover */
.nav-link:hover::after {
  width: 100%;
}

/* ACTIVE */
.nav-link.active {
  color: #2563eb;
}

.nav-link.active::after {
  width: 100%;
}
